@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

#root{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

@media (max-width: 1000px) {

  .m-flex{
    display: flex;
  }
  .m-center{
    text-align: center;
  }
  .m-col{
    flex-direction: column !important;
  }
  .m-row{
    flex-direction: row;
  }
  .m-title{
    font-size: 42px !important;

  }
  .mpl-10{
    margin-left: 20px !important;
  }

  .m-job{
    font-size: 36px !important;
  }
  #root{
    width: 100vw;
    height: 100vh;
  }

  .m-mar-t-0{
    margin: 0px !important;
    padding: 0px !important;
  }

  .carousel-container {
    padding: 5px;
    margin-top: 10px;
  }
  .gif{
    height: 225px;
    width: auto;
  }

  .card-desc{
    font-size: 14px !important;
  }

  .m-centerj{
    align-items: center;
  }

  .gif > img {
    height: 100%;
    width: auto;
  }

  .flip-landing{
    flex-direction: column-reverse !important;
  }
  .m-uncenter{
    justify-content: flex-start !important;
  }
  .canvas{
    height: 75%;
    width: 100%;
  }

  
}


.App {
  color: white;
  font-family: 'Orbitron', sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.logo {
  text-decoration: none;
  color: white;
}

.flex-end {
  align-self: flex-end;
}

.logo:hover {
  color: green;
  transform: translateX(8px);
}

button {
  font-family: 'Orbitron', sans-serif;
  border-radius: 10px;
  color: white;
  font-weight: 800;
  font-size: 1em;
}

button:hover {
  font-size: 1.1em;
  border: white 2px solid;
}
.bg{
  z-index: -1;
  position: absolute;
  
}

.btn-1{
  background-color: green;
  height: 50px;
  width: 150px;
  border: none;
}

.btn-2{
  border: 3px solid green;
  background-color: black;
  height: 50px;
  width: 150px;
}
.pb-10{
 align-items: bottom;
}
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.center {
  justify-content: center;
}

.title {
  font-size: 6em;
}

.sub-title {
  font-size: 4em;
  -webkit-text-stroke: 3px white;
  color: black;
  font-weight: 900;
}

.m-0{
  margin: 0px;
}

.p-0{
  padding: 0px;
}
.p-l-25{
  margin-left: 25px;
}
.job {
  
}
.p-l-0{
  padding-left: 0px !important;
}
.p-l-20{
  padding-left: 20px !important;
}
.p-b-15{
  padding-bottom: 15px;
}

.m-t-10{
  margin-top: 10px;
}
.m-t-20{
  margin-top: 50px;
}
.m-r-10{
  margin-right: 10px;
}
.m-r-3{
  margin-right: 5px;
}

.m-b-5{
  margin-bottom: 5px;
}

.h-100{
  height: 100%;
}

.vp-100{
  height: 100vh;
  width: 100vw;
}

.canvas {
  width: 100%;
}

.w-100{
  width: 100%;
}

.r-10{
  right: 10;
}

.t-10{
  top: 10;
}

.absolute {
  position: absolute;
}

.header{ 
  margin: 27px;
}

.fixed {
  position: fixed;
}
.header {
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: center;
}

.relative {
  position: relative;
}

.top-right {
  position: absolute;
  right: 15px;
  top: 15px;
}

.container {
  border-radius: 10px;
  border-left: 6px solid green;
  padding-left: 10px;
  font-weight: 800;
}

.centerj {
  justify-content: center;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.tag {
  padding: 5px;
  margin: 2px;
  border: none;
  font-weight: 800;
  font-size: 13px;
}

.bg-aqua {
  background-color: #06DDFB;
}

.bg-blue {
  background-color: #1D9CF9;
}

.bg-pink {
  background-color: #FB067C;
}

.bg-green {
  background-color: green;
}

.bg-purple {
  background-color: #BB06FB;
}

.bg-orange {
  background-color: #FB5E06;
}

.bg-red {
  background-color: #F91D1D;
}

.bg-yellow {
  background-color: #E8BD26;
}

.card {
  width: 350px;
  margin-top: 25px;
}

.card-img{
  width: 100%;
  margin-left: -10px;
  border-top-left-radius: 10px;
}

.card-title{
  font-weight: 900;
}
.card-desc{
  font-weight: 400;
  opacity: 80%;
  font-size: 16px;
}

.overflow-hidden {
  overflow: hidden;
  /* white-space: nowrap;  */
  text-overflow: ellipsis;
}

.btm-right {
  position: absolute;
  right: 20px;
  bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btm-right > * {
  margin-right: 5px;
  color: white;
}

.btm-right > *:hover {
  color: green;
}

.p-25{
  padding: 25px;
}

.no-scroll-x {
  overflow-x: hidden;
}

.t-center{
  text-align: center;
}


.custom-btn{
  display: none;
}


